<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing APIs">
    <test name="Regression">
        <classes>
            <class name="nz.org.api.v1.account.Authenticate"/>
            <class name="nz.org.api.v1.bookstore.CRUDTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->